.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--mantine-color-gray-0);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.link {
  text-decoration: none;
  cursor: pointer;
}


